<ion-header>
  <ion-toolbar color="medium">
    <ion-title routerLink="/landing">
        Cruise Fun Booking System
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        Login
      </ion-button>
      <ion-button routerLink="/signup">
        Signup
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Video Background -->
  <div class="video-background">
    <video autoplay loop muted>
      <source src="assets/background11.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  

  

  <!-- Hero Section -->
  <div class="hero">
    <div class="hero-content">
      <h1>Welcome to Cruise-Fun Booking</h1>
      <p>Explore the world by booking your dream cruise vacation.</p>
    </div>
  </div>

  <ion-button class="view-button" routerLink="/cruise-info" >Staff After Login</ion-button>
  <ion-button class="view-button" routerLink="/booked-cruise" >Customer After Login</ion-button>

 

  <!-- Testimonials Section -->
  <div class="testimonials ion-padding">
    <h2>What Our Customers Say</h2>
    
        <h3>Ravi Singh</h3>
        <p>"I had an amazing experience on my last cruise. Highly recommended!"</p>
     
  </div>
</ion-content>

