.cruise-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .cruise-card {
    width: calc(50% - 16px); /* Two columns, with some spacing */
    border: 1px solid #ccc;
    margin-bottom: 16px;
    padding: 16px;
  }
  
  .cruise-name {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .customer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .customer-item {
    margin-bottom: 8px;
  }
  
  .action-buttons ion-button {
    margin-top: 8px;
  }

  /* Add your custom toast styles here */
.custom-toast {
 

  background-color: #4caf50;
      color: white;
      text-align: center;
      padding: 10px;
      border-radius: 4px;
      position: fixed;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;

}